# Enable admin
ME_CONFIG_MONGODB_ENABLE_ADMIN=true
#Mongodb user
ME_CONFIG_MONGODB_ADMINUSERNAME=
#Mongodb password
ME_CONFIG_MONGODB_ADMINPASSWORD=
#Mongodb port
ME_CONFIG_MONGODB_PORT=27017
#Mongodb Host/IP
ME_CONFIG_MONGODB_SERVER=mongodb
